 @inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dr. Feet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoes">
                <span class="oi oi-cart" aria-hidden="true"></span> Papuča
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tops">
                <span class="oi oi-shield" aria-hidden="true"></span> Gornjište
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purposes">
                <span class="oi oi-shield" aria-hidden="true"></span> Korigirano gornjište
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linings">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Podstava
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="soles">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Potplat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materials">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Materijal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colors">
                <span class="oi oi-eyedropper" aria-hidden="true"></span> Boja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="suppliers">
                <span class="oi oi-people" aria-hidden="true"></span> Dobavljači
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="decorations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dekoracije
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="miscellaneouses">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Razno
            </NavLink>
        </div>
        @if (authenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orders">
                    <span class="oi oi-book" aria-hidden="true"></span> Narudžbe
                </NavLink>
            </div>        
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool visibleToAdmin { get; set; } = false;
    private bool authenticated;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        Task<AuthenticationState> _currentAuthenticationStateTask;

        AuthenticationStateProvider.AuthenticationStateChanged +=
                                       OnAuthenticationStateChanged;

        _currentAuthenticationStateTask =
          AuthenticationStateProvider.GetAuthenticationStateAsync();

        OnAuthenticationStateChanged(_currentAuthenticationStateTask);
    }

    private void OnAuthenticationStateChanged
                  (Task<AuthenticationState> authenticationStateTask)
    {
        _ = InvokeAsync(async () =>
        {
            var authState = await authenticationStateTask;
            var user = authState.User;


            authenticated = user.Identity?.IsAuthenticated ?? false;
            StateHasChanged();
        });
    }
}
